In [1]:
# Dependencies and setup
import pandas as pd
from pathlib import Path

# File to Load
school_data_to_load = Path(r"C:\Users\aspyn\pandas-challenge\resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\aspyn\pandas-challenge\resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
total_unique_schools = school_data['school_name'].nunique()
# Create a DataFrame to store the district summary
district_summary = pd.DataFrame({'Total_Unique_Schools': [total_unique_schools]})

print(district_summary)

   Total_Unique_Schools
0                    15

In [3]:
# Calculate total number of students
total_students = student_data['Student ID'].nunique()

# Create a DataFrame to store the student summary
student_summary = pd.DataFrame({'Total Students': [total_students]})

print(student_summary)

   Total Students
0           39170

In [4]:
# Calculate total budget
total_budget = school_data['budget'].sum()

# Create a DataFrame to store the district budget summary
budget_summary = pd.DataFrame({'Total Budget': [total_budget]})

print(budget_summary)

   Total Budget
0      24649428

In [5]:
# Calculate average math score
average_math_score = student_data['math_score'].mean()

# Create a DataFrame to store the average math score summary
math_score_summary = pd.DataFrame({'Average Math Score': [average_math_score]})

print(math_score_summary)

   Average Math Score
0           78.985371

In [6]:
# Calculate average reading score
average_reading_score = student_data['reading_score'].mean()

# Create a DataFrame to store the average reading score summary
reading_score_summary = pd.DataFrame({'Average Reading Score': [average_reading_score]})

print(reading_score_summary)

   Average Reading Score
0               81.87784

In [7]:
# Set the passing math score threshold
passing_math_score = 70

# Calculate the percentage of students passing math
passing_math_percentage = (student_data[student_data['math_score'] >= passing_math_score]['Student ID'].count() / student_data['Student ID'].count()) * 100

# Create a DataFrame to store the percentage of students passing math
passing_math_summary = pd.DataFrame({'% Passing Math': [passing_math_percentage]})

print(passing_math_summary)

   % Passing Math
0       74.980853

In [8]:
# Set the passing reading score threshold
passing_reading_score = 70

# Calculate the percentage of students passing reading
passing_reading_percentage = (student_data[student_data['reading_score'] >= passing_reading_score]['Student ID'].count() / student_data['Student ID'].count()) * 100

# Create a DataFrame to store the percentage of students passing reading
passing_reading_summary = pd.DataFrame({'% Passing Reading': [passing_reading_percentage]})

print(passing_reading_summary)

   % Passing Reading
0          85.805463

In [9]:
# Set the passing math and reading score thresholds
passing_math_score = 70
passing_reading_score = 70

# Calculate the number of students passing both math and reading
passing_both = student_data[(student_data['math_score'] >= passing_math_score) & (student_data['reading_score'] >= passing_reading_score)]['Student ID'].count()

# Calculate the overall passing percentage
overall_passing_percentage = (passing_both / student_data['Student ID'].count()) * 100

# Create a DataFrame to store the overall passing percentage
overall_passing_summary = pd.DataFrame({'% Overall Passing': [overall_passing_percentage]})

print(overall_passing_summary)

   % Overall Passing
0          65.172326

In [10]:
# Calculate passing math and passing reading
school_data_complete['% Passing Math'] = school_data_complete['math_score'].apply(lambda x: 1 if x >= 70 else 0)
school_data_complete['% Passing Reading'] = school_data_complete['reading_score'].apply(lambda x: 1 if x >= 70 else 0)

# Calculate % Overall Passing
school_data_complete['% Overall Passing'] = (school_data_complete['% Passing Math'] + school_data_complete['% Passing Reading']) / 2

# Sort the schools by % Overall Passing in descending order
top_schools = school_data_complete.sort_values(by='% Overall Passing', ascending=False)

# Display the top 5 schools
top_schools[['School ID', 'school_name', 'type', 'size', 'budget', '% Overall Passing']].head(5)

,School ID,school_name,type,size,budget,% Overall Passing
39169,14,Thomas High School,Charter,1635,1043130,1.0
18370,7,Bailey High School,District,4976,3124928,1.0
18367,7,Bailey High School,District,4976,3124928,1.0
18366,7,Bailey High School,District,4976,3124928,1.0
18364,7,Bailey High School,District,4976,3124928,1.0

In [11]:
# Sort the schools by % Overall Passing in ascending order
bottom_schools = school_data_complete.sort_values(by='% Overall Passing', ascending=True)

# Display the bottom 5 schools
bottom_schools[['School ID', 'school_name', 'type', 'size', 'budget', '% Overall Passing']].head(5)

,School ID,school_name,type,size,budget,% Overall Passing
28875,11,Rodriguez High School,District,3999,2547363,0.0
1718,0,Huang High School,District,2917,1910635,0.0
25748,10,Wright High School,Charter,1800,1049400,0.0
27876,11,Rodriguez High School,District,3999,2547363,0.0
34515,12,Johnson High School,District,4761,3094650,0.0

In [12]:
# Calculate key metrics for each school
school_summary = school_data_complete.groupby('school_name').agg(
    school_type=('type', 'first'),
    total_students=('Student ID', 'count'),
    total_school_budget=('budget', 'first'),
    avg_math_score=('math_score', 'mean'),
    avg_reading_score=('reading_score', 'mean'),
    percent_passing_math=('math_score', lambda x: (x >= 70).mean() * 100),
    percent_passing_reading=('reading_score', lambda x: (x >= 70).mean() * 100),
    percent_passing_overall=('Student ID', lambda x: ((school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)).mean() * 100)
).reset_index()

# Calculate per student budget
school_summary['per_student_budget'] = school_summary['total_school_budget'] / school_summary['total_students']

# Display the School Summary DataFrame
print(school_summary)

              school_name school_type  total_students  total_school_budget  \
0      Bailey High School    District            4976              3124928
1     Cabrera High School     Charter            1858              1081356
2    Figueroa High School    District            2949              1884411
3        Ford High School    District            2739              1763916
4     Griffin High School     Charter            1468               917500
5   Hernandez High School    District            4635              3022020
6      Holden High School     Charter             427               248087
7       Huang High School    District            2917              1910635
8     Johnson High School    District            4761              3094650
9        Pena High School     Charter             962               585858
10  Rodriguez High School    District            3999              2547363
11    Shelton High School     Charter            1761              1056600
12     Thomas High School     Charter            1635              1043130
13     Wilson High School     Charter            2283              1319574
14     Wright High School     Charter            1800              1049400

    avg_math_score  avg_reading_score  percent_passing_math  \
0        77.048432          81.033963             66.680064
1        83.061895          83.975780             94.133477
2        76.711767          81.158020             65.988471
3        77.102592          80.746258             68.309602
4        83.351499          83.816757             93.392371
5        77.289752          80.934412             66.752967
6        83.803279          83.814988             92.505855
7        76.629414          81.182722             65.683922
8        77.072464          80.966394             66.057551
9        83.839917          84.044699             94.594595
10       76.842711          80.744686             66.366592
11       83.359455          83.725724             93.867121
12       83.418349          83.848930             93.272171
13       83.274201          83.989488             93.867718
14       83.682222          83.955000             93.333333

    percent_passing_reading  percent_passing_overall  per_student_budget
0                 81.933280                65.172326               628.0
1                 97.039828                65.172326               582.0
2                 80.739234                65.172326               639.0
3                 79.299014                65.172326               644.0
4                 97.138965                65.172326               625.0
5                 80.862999                65.172326               652.0
6                 96.252927                65.172326               581.0
7                 81.316421                65.172326               655.0
8                 81.222432                65.172326               650.0
9                 95.945946                65.172326               609.0
10                80.220055                65.172326               637.0
11                95.854628                65.172326               600.0
12                97.308869                65.172326               638.0
13                96.539641                65.172326               578.0
14                96.611111                65.172326               583.0

In [13]:
# Sort the schools by % Overall Passing in descending order
school_summary_sorted = school_summary.sort_values(by='percent_passing_overall', ascending=False)

# Display the top 5 rows
top_5_schools = school_summary_sorted.head(5)
print(top_5_schools)

#Save the results in a DataFrame called "top_schools"
top_5_schools.to_csv('top_schools.csv', index=False)

            school_name school_type  total_students  total_school_budget  \
0    Bailey High School    District            4976              3124928
1   Cabrera High School     Charter            1858              1081356
2  Figueroa High School    District            2949              1884411
3      Ford High School    District            2739              1763916
4   Griffin High School     Charter            1468               917500

   avg_math_score  avg_reading_score  percent_passing_math  \
0       77.048432          81.033963             66.680064
1       83.061895          83.975780             94.133477
2       76.711767          81.158020             65.988471
3       77.102592          80.746258             68.309602
4       83.351499          83.816757             93.392371

   percent_passing_reading  percent_passing_overall  per_student_budget
0                81.933280                65.172326               628.0
1                97.039828                65.172326               582.0
2                80.739234                65.172326               639.0
3                79.299014                65.172326               644.0
4                97.138965                65.172326               625.0

In [14]:
# Sort the schools by % Overall Passing in ascending order
school_summary_sorted_asc = school_summary.sort_values(by='percent_passing_overall', ascending=True)

# Display the top 5 rows
bottom_schools = school_summary_sorted_asc.head(5)
print(bottom_schools)

# Save the results in a DataFrame called "bottom_schools"
bottom_schools.to_csv('bottom_schools.csv', index=False)

            school_name school_type  total_students  total_school_budget  \
0    Bailey High School    District            4976              3124928
1   Cabrera High School     Charter            1858              1081356
2  Figueroa High School    District            2949              1884411
3      Ford High School    District            2739              1763916
4   Griffin High School     Charter            1468               917500

   avg_math_score  avg_reading_score  percent_passing_math  \
0       77.048432          81.033963             66.680064
1       83.061895          83.975780             94.133477
2       76.711767          81.158020             65.988471
3       77.102592          80.746258             68.309602
4       83.351499          83.816757             93.392371

   percent_passing_reading  percent_passing_overall  per_student_budget
0                81.933280                65.172326               628.0
1                97.039828                65.172326               582.0
2                80.739234                65.172326               639.0
3                79.299014                65.172326               644.0
4                97.138965                65.172326               625.0

In [15]:
# Calculate the average math score for students of each grade level at each school
math_scores_by_grade = school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

# Reorder the columns to match the desired order of grades
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

# Display the DataFrame showing the average math scores by grade level at each school
print(math_scores_by_grade)

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [16]:
# Calculate the average reading score for students of each grade level at each school
reading_scores_by_grade = school_data_complete.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

# Reorder the columns to match the desired order of grades
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Display the DataFrame showing the average reading scores by grade level at each school
print(reading_scores_by_grade)

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [17]:
# Create bins and labels for school spending ranges
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add a new column 'Spending Ranges (Per Student)' to the school_summary DataFrame
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['per_student_budget'], bins=spending_bins, labels=spending_labels)

# Group the data by 'Spending Ranges (Per Student)' and calculate the average scores
scores_by_spending = school_summary.groupby('Spending Ranges (Per Student)')[['avg_math_score', 'avg_reading_score', 'percent_passing_math', 'percent_passing_reading', 'percent_passing_overall']].mean()

# Rename the columns in the scores_by_spending DataFrame
scores_by_spending = scores_by_spending.rename(columns={
    'avg_math_score': 'Ave Math Score',
    'avg_reading_score': 'Ave Reading Score',
    'percent_passing_math': '% Passing Math',
    'percent_passing_reading': '% Passing Reading',
    'percent_passing_overall': '% Passing Overall'
})

# Display the updated table with more appealing column names
print(scores_by_spending)

# Display the table showing school performance based on average spending ranges
print(scores_by_spending)

                               Ave Math Score  Ave Reading Score  \
Spending Ranges (Per Student)
<$585                               83.455399          83.933814
$585-630                            81.899826          83.155286
$630-645                            78.518855          81.624473
$645-680                            76.997210          81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Passing Overall
Spending Ranges (Per Student)
<$585                                  65.172326
$585-630                               65.172326
$630-645                               65.172326
$645-680                               65.172326
                               Ave Math Score  Ave Reading Score  \
Spending Ranges (Per Student)
<$585                               83.455399          83.933814
$585-630                            81.899826          83.155286
$630-645                            78.518855          81.624473
$645-680                            76.997210          81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Passing Overall
Spending Ranges (Per Student)
<$585                                  65.172326
$585-630                               65.172326
$630-645                               65.172326
$645-680                               65.172326

C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\3689672288.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  scores_by_spending = school_summary.groupby('Spending Ranges (Per Student)')[['avg_math_score', 'avg_reading_score', 'percent_passing_math', 'percent_passing_reading', 'percent_passing_overall']].mean()

In [18]:
# Create a DataFrame with the binned results
data = {
    'Ave Math Score': [83.455399, 81.899826, 78.518855, 76.997210],
    'Ave Reading Score': [83.933814, 83.155286, 81.624473, 81.027843],
    '% Passing Math': [93.460096, 87.133538, 73.484209, 66.164813],
    '% Passing Reading': [96.610877, 92.718205, 84.391793, 81.133951],
    '% Passing Overall': [65.172326, 65.172326, 65.172326, 65.172326]
}

index = ['<$585', '$585-630', '$630-645', '$645-680']

school_spending_df = pd.DataFrame(data, index=index)

# Use pd.cut to categorize spending based on the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ['<$585', '$585-630', '$630-645', '$645-680']

school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df.index.map(lambda x: int(x.split('-')[0].split('$')[-1])), bins=spending_bins, labels=group_names, right=False)

# Calculate mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Ave Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Ave Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean()

print(spending_math_scores)
print(spending_reading_scores)
print(spending_passing_math)
print(spending_passing_reading)
print(overall_passing_spending)

Spending Ranges (Per Student)
<$585             NaN
$585-630    82.677613
$630-645    78.518855
$645-680    76.997210
Name: Ave Math Score, dtype: float64
Spending Ranges (Per Student)
<$585             NaN
$585-630    83.544550
$630-645    81.624473
$645-680    81.027843
Name: Ave Reading Score, dtype: float64
Spending Ranges (Per Student)
<$585             NaN
$585-630    90.296817
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64
Spending Ranges (Per Student)
<$585             NaN
$585-630    94.664541
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64
Spending Ranges (Per Student)
<$585             NaN
$585-630    65.172326
$630-645    65.172326
$645-680    65.172326
Name: % Passing Overall, dtype: float64

C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\103571766.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Ave Math Score"].mean()
C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\103571766.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Ave Reading Score"].mean()
C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\103571766.py:23: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\103571766.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\aspyn\AppData\Local\Temp\ipykernel_23464\103571766.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean()

In [19]:
# Create a dictionary with the calculated metrics
data = {
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
}

# Create the spending_summary DataFrame
spending_summary = pd.DataFrame(data)

# Display the spending_summary DataFrame
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                         NaN                    NaN
$585-630                                82.677613              83.544550
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                                     NaN                NaN
$585-630                            90.296817          94.664541
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                        NaN
$585-630                               65.172326
$630-645                               65.172326
$645-680                               65.172326

In [20]:
# Create a DataFrame with the school data
data = {
    'School ID': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
    'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School'],
    'type': ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter'],
    'size': [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 427, 962, 1800, 3999, 4761, 2739, 1635],
    'budget': [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356, 3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130]
}

per_school_summary = pd.DataFrame(data)

# Bin the school sizes
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary['School Size'] = pd.cut(per_school_summary['size'], bins=size_bins, labels=labels, right=False)

# Display the per_school_summary DataFrame
print(per_school_summary)

    School ID            school_name      type  size   budget  \
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

           School Size
0    Large (2000-5000)
1    Large (2000-5000)
2   Medium (1000-2000)
3    Large (2000-5000)
4   Medium (1000-2000)
5    Large (2000-5000)
6   Medium (1000-2000)
7    Large (2000-5000)
8        Small (<1000)
9        Small (<1000)
10  Medium (1000-2000)
11   Large (2000-5000)
12   Large (2000-5000)
13   Large (2000-5000)
14  Medium (1000-2000)

In [21]:
# Set the display format for numbers in pandas to show in standard decimal notation
pd.options.display.float_format = '{:.2f}'.format

# Create the per_school_summary DataFrame
data = {
    'School ID': range(15),
    'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 
                    'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School',
                    'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School'],
    'type': ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter',
             'Charter', 'District', 'District', 'District', 'Charter'],
    'size': [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 427, 962, 1800, 3999, 4761, 2739, 1635],
    'budget': [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356, 3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130],
    'School Size': ['Large (2000-5000)', 'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)', 'Medium (1000-2000)',
                    'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)', 'Small (<1000)', 'Small (<1000)',
                    'Medium (1000-2000)', 'Large (2000-5000)', 'Large (2000-5000)', 'Large (2000-5000)', 'Medium (1000-2000)']
}

per_school_summary = pd.DataFrame(data)

# Create a new DataFrame type_summary showing school performance based on the "School Type"
type_summary = per_school_summary.groupby('type').agg({
    'size': 'mean',
    'budget': 'mean'
})

type_summary['Per Student Budget'] = type_summary['budget'] / type_summary['size']

# Display the type_summary DataFrame
print(type_summary)

            size     budget  Per Student Budget
type
Charter  1524.25  912688.12              598.78
District 3853.71 2478274.71              643.09